/* ==================================================== */
/* - - - - - - - - - - SETUP - - - - - - - - - - - - -  */
/* ==================================================== */
:root{
  --post-background:gray;
  --navbar: gray;
}
/* This will be removed later it is just for making it easy to see things */
/* *{border: 1px solid black;} */

/* ==================================================== */
/* - - - - - - - - - GENERAL STYLES - - - - - - - - - - */
/* ==================================================== */
main {
  margin-top: 61px;
  margin-bottom: 62px;
  padding: 0 2vw;
}

/* ==================================================== */
/* - - - - - - - - - - NAVBAR - - - - - - - - - - - - - */
/* ==================================================== */
#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  background: white;
}
#navbar ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
#navbar button, #topbar button {
  background: none;
  border: none;
}

/* ==================================================== */
/* - - - - - - - - - - TOPBAR - - - - - - - - - - - - - */
/* ==================================================== */
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background: white;
}
#topbar ul {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
#topbar p {
  margin: 0;
}

/* ==================================================== */
/* - - - - - - - - - - - HOME - - - - - - - - - - - - - */
/* ==================================================== */
.posts-container {
  padding-top: 0.5em;
}
.post {
  margin-bottom: 2vh;
  border: 1px solid black;
  padding: 0.7em 0;
}
.post img {
  height: 40vh;
  width: 100%;
  object-fit: contain;
}
.username {
  margin: 0;
}
.header {
  font-weight: bold;
  margin-left: 1vw;
}
.post-info {
  padding: 0 0.5em;
}
.post-info p {
  margin: 0.5em 0;
}
.category-list {
  margin: 1vw;
}
summary {
  font-weight: bold;
}

/* ==================================================== */
/* - - - - - - - - - - - SEARCH - - - - - - - - - - - - */
/* ==================================================== */
.search-form {
  display:flex;
  justify-content: space-between;
  margin-bottom: 1vh;
}
.search-bar{
  width: 75%;
  font-size: 1.5em;
}
.search-button{
  width: 20%;
  font-size: 1.5em;
}
.rec-container {
  display: flex;
  flex-direction: column;
}
  .rec-container button {
    margin: 0.3vh;
    font-size: 1.2em;
  }
.search-user {
  display: flex;
  margin: 1vh;
}
  .search-user img {
    height: 10vh;
    width: auto;
  }
  .search-user div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    flex: 1;
  }
  .search-user p {
    margin: 0;
    text-align: center;
  }
  .search-user h2 {
    margin: 0;
    margin-left: 2vw;
  }

/* ==================================================== */
/* - - - - - - - - - - - LOGIN - - - - - - - - - - - -  */
/* ==================================================== */
.login-form {
  text-align: center;
  min-height: 100vh;
  font-size: 2em;
  font-weight: bold;
}
  .login-form form {
    margin-top: 5%;
  }
    .login-form input {
      font-size: 0.9em;
      margin: 1vh;
      width: 70%;
    }
  .login-form button{
    margin: 3vh;
    font-size: 0.7em;
    background: none;
    border: none;
  }
    .login-form button:hover {
      text-decoration: underline;
    }
  .login-form h1 {
    color: red;
    text-decoration: underline;
    font-size: 0.5em;
    margin: 1vh 2vw;
  }

/* ==================================================== */
/* - - - - - - - - - - ADD POST - - - - - - - - - - - - */
/* ==================================================== */
#add-post {
  text-align: center;
  min-height: 100vh;
  font-size: 1.5em;
  font-weight: bold;
}
  #add-post label {
    margin: 1vw;
  }
  #add-post input {
    font-size: 0.7em;
  }
  #add-post p {
    font-weight: 400;
    margin: 0;
  }
#add-post img {
  margin: 2vh 0;
  width: 100%;
}


/* ==================================================== */
/* - - - - - - - - - - EDIT POST - - - - - - - - - - -  */
/* ==================================================== */
#edit-post img {
  width: 100%;
}

/* ==================================================== */
/* - - - - - - - - - - PROFILE - - - - - - - - - - - -  */
/* ==================================================== */
.profile-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}
.profile-info img {
  width: 20%;
}
.profile-posts-container {
  display: flex;
  flex-wrap: wrap;
}
.profile-post img {
  width: 100%;
}
  #profile h1 {
    text-align: center;
  }
#profile .username {
  margin: 0;
}
#profile details {
  margin-bottom: 1em;
}
#profile button {
  margin-right: 1em;
}

/* ==================================================== */
/* - - - - - - - - - - SETTINGS - - - - - - - - - - - - */
/* ==================================================== */
.settings {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
  .settings form {
    margin: 1vh;
  }
  .settings label {
    margin: 1vh;
  }
  .warning {
    font-weight: 400;
    font-size: 0.8em;
    margin: 01vh
  }
  .settings p {
    font-weight: 400;
  }

  .settings input {
    font-size: 0.7em;
  }
  .settings span {
    font-weight: bold;
    text-decoration: underline;
  }
  .delete-button {
    width: 50%;
    font-size: 1em;
    font-weight: bold;
  }

.tab-button{
  width: 95%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1vh;
}

.log-off {
  width: 95%;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1vh;
}

#form-button {
  font-size: 1.2em;
  padding: 0.3vh 2vw;
}

/* ==================================================== */
/* - - - - - - - - - ANIMATIONS - - - - - - - - - - - - */
/* ==================================================== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}