/* ==================================================== */
/* - - - - - - - - - - SETUP - - - - - - - - - - - - -  */
/* ==================================================== */
:root{
  
}
/* This will be removed later it is just for making it easy to see things */
*{border: 1px solid black;}

/* ==================================================== */
/* - - - - - - - - - GENERAL STYLES - - - - - - - - - - */
/* ==================================================== */
main {
  margin-top: 61px;
  margin-bottom: 62px;
}

/* ==================================================== */
/* - - - - - - - - - - NAVBAR - - - - - - - - - - - - - */
/* ==================================================== */
#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  background: white;
}
#navbar ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}
#navbar button, #topbar button {
  background: none;
  border: none;
}

/* ==================================================== */
/* - - - - - - - - - - TOPBAR - - - - - - - - - - - - - */
/* ==================================================== */
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background: white;
}
#topbar ul {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}
#topbar p {
  margin: 0;
}

/* ==================================================== */
/* - - - - - - - - - - ADD POST - - - - - - - - - - - - */
/* ==================================================== */
#add-post img {
  width: 100%;
}

/* ==================================================== */
/* - - - - - - - - - - EDIT POST - - - - - - - - - - -  */
/* ==================================================== */
#edit-post img {
  width: 100%;
}

/* ==================================================== */
/* - - - - - - - - - - - HOME - - - - - - - - - - - - - */
/* ==================================================== */
#home .post img {
  width: 100%;
}

/* ==================================================== */
/* - - - - - - - - - - PROFILE - - - - - - - - - - - -  */
/* ==================================================== */
.profile-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.profile-info img {
  width: 20%;
}
.profile-posts-container {
  display: flex;
  flex-wrap: wrap;
}
.profile-post img {
  width: 100%;
}

/* ==================================================== */
/* - - - - - - - - - ANIMATIONS - - - - - - - - - - - - */
/* ==================================================== */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}